body {	
	--h1: 2.6em;
	--h2: 2em;
	--h3: 1.75em;
	--h4: 1.6em;
	--h5: 1.45em;
	--h6: 1.3em;
	
	--h1-colour: #9380ff;
	--h2-colour: #A988E6;
	--h3-colour: #BE8FCC;
	--h4-colour: #D497B3;
	--h5-colour: #E99E99;
	--h6-colour: #FFA680;
}

.cm-s-obsidian .HyperMD-header,
.cm-header,
.empty-state-title,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: lighter !important;
}

.cm-s-obsidian .HyperMD-header {
	padding-bottom: 0.1rem;
	padding-top: 0.5em;
}
.cm-s-obsidian .HyperMD-header.HyperMD-header-1:first-child {
	color: var(--text-normal);
	padding-top: 0em;
	margin-bottom: 0.5em !important;
	text-align: center;
	display: block;
	border-bottom: 1px dashed var(--background-modifier-border);
}

.cm-s-obsidian .HyperMD-header-1 {
	color: var(--h1-colour);
}
.cm-s-obsidian .HyperMD-header-2 {
	color: var(--h2-colour);
}
.cm-s-obsidian .HyperMD-header-3 {
	color: var(--h3-colour);
}
.cm-s-obsidian .HyperMD-header-4 {
	color: var(--h4-colour);
}
.cm-s-obsidian .HyperMD-header-5 {
	color: var(--h5-colour);
}
.cm-s-obsidian .HyperMD-header-6 {
	color: var(--h6-colour);
}