.menu {
	padding: 0.5em 0em;
	border-radius: var(--big-border-radius);
	background-color: var(--background-secondary-alt);
	border-color: var(--text-accent);
}

.menu-item {
	padding: 0.35em 1.2em;
	height: auto;
	font-size: 1em;
}

.menu-separator {
	margin: 0.5em 0;
}