@use 'settings.scss';
@use 'modal.scss';
@use 'prompt.scss';
@use 'suggestions.scss';
@use 'notifications.scss';


body {
	background-color: var(--background-secondary);
}

.status-bar {
	margin: 0 !important;
	background-color: transparent;
	border: none !important;
}

.titlebar {
	background-color: transparent;
	border: none !important;
}

.titlebar-inner {
	color: var(--text-normal);
}