.modal.mod-settings .vertical-tab-header {
	flex: 0 0 25%;
}

.vertical-tab-header {
	background-color: var(--background-secondary);
	box-sizing: border-box;
}

.vertical-tab-header-group-title {
	font-size: 1.5em;
	font-weight: lighter;
	text-transform: none;
	color: var(--h1-colour);
	margin-bottom: 0em;
	padding-left: 25px;
	padding-bottom: 10px;
	padding-top: 30px;
}

:first-child>.vertical-tab-header-group-title {
	padding-top: 0px;
}

.horizontal-tab-nav-item, .vertical-tab-nav-item {
	background-color: transparent;
	padding: 0.75em 1.2em;
	margin: 0 0.5em;
	border: none;
	color: var(--text-muted);
}

.vertical-tab-nav-item.is-active {
	background-color: var(--background-secondary-alt);
	border-radius: 100px;
	padding: 0.75em 1.2em;
	margin: 0 0.5em;
	color: var(--text-normal);
}

.modal.mod-settings .vertical-tab-content-container {
	padding: 0;
}

.vertical-tab-content {
	background-color: transparent;
	padding: 2em 2em;
}

.setting-item {
	border-top: none;
}

.setting-item-heading {
	margin-bottom: 0.5em;
}

.setting-item-heading .setting-item-name {
	font-size: 1.5em;
	font-weight: 200;
	color: var(--h2-colour);
}

.setting-item-name {
	font-size: 1.1em;
}