/* Increase space for resize handle */
.workspace-leaf-resize-handle {
  background-color: transparent;
  border: none !important;
}

.workspace-leaf-resize-handle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
  min-width: 8px;
  min-height: 8px;
}

.workspace-leaf-resize-handle::after {
  content: "";
  /* background-color: var(--background-secondary-alt); */
  background-color: transparent;
  position: absolute;
  border-radius: 3px;
  width: 50%;
  height: 50%;
  transition: background-color 200ms ease-out;
}

.workspace-leaf-resize-handle:hover::after {
  background-color: var(--interactive-accent) !important;
}

.markdown-source-view .markdown-embed,
.markdown-embed {
  --border-color: var(--background-modifier-border);
  border: 1px solid var(--border-color);
  background-color: var(--background-secondary);
  margin-bottom: 0.75rem;
  border-radius: var(--corner-radius);
  padding: 0;
}

.markdown-embed {
  margin-bottom: 0;
  overflow: hidden;
}

.markdown-embed-title {
  font-weight: normal;
  text-align: left;
  padding-left: 1rem;
  padding-right: 3rem;
  font-size: 1.2em;
  padding-bottom: 0;
  line-height: 2em;
  margin-bottom: 0.5em;
  border-bottom: 1px dashed var(--border-color);
  white-space: break-spaces;
}

.markdown-embed-link {
  color: var(--text-muted);
}

.markdown-embed-link:hover {
  color: var(--text-normal);
}

.markdown-embed-content.markdown-embed-page {
  padding: 0 1rem;
}

.inline-title {
  --inline-title-color: var(--interactive-accent);
}

.is-translucent:not(.is-fullscreen) {
  --divider-color: #bdbdbd3b;
}
.is-translucent:not(.is-fullscreen) .mod-right-split :not(.mod-top) .workspace-tab-header-container,
.is-translucent:not(.is-fullscreen) .mod-right-split .workspace-leaf {
  background-color: var(--background-secondary);
}
.is-translucent:not(.is-fullscreen) .mod-left-split {
  --background-secondary: #2a2a2abe;
  --background-modifier-form-field: #262626be;
  --background-modifier-border: #363636be;
}
.is-translucent:not(.is-fullscreen) .mod-left-split :not(.mod-top) .workspace-tab-header-container,
.is-translucent:not(.is-fullscreen) .mod-left-split .workspace-tab-container {
  border-right: 1px solid var(--divider-color);
}
.is-translucent:not(.is-fullscreen) .workspace-split.mod-root .workspace-tab-header.is-active::before, .is-translucent:not(.is-fullscreen) .workspace-split.mod-root .workspace-tab-header.is-active::after {
  --tab-outline-color: #bdbdbd15;
  --tab-outline-width: 1px;
}

.is-translucent:not(.is-fullscreen) .titlebar, .is-translucent .app-container {
  background-color: transparent !important;
}
.is-translucent:not(.is-fullscreen) .titlebar .workspace-split.mod-root, .is-translucent .app-container .workspace-split.mod-root {
  background-color: transparent !important;
}

.is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right {
  background-color: transparent !important;
}

.view-header {
  margin: 0;
  padding: 0 var(--size-4-3);
}

body {
  --highlight-colour: #ff9f0038;
  --highlight-colour-outline: #ff9f00de;
}

.cm-s-obsidian span.cm-formatting-highlight, .cm-s-obsidian span.cm-highlight, .search-result-file-matched-text {
  background-color: var(--highlight-colour);
  outline: 1px solid var(--highlight-colour-outline);
  padding: 0 0.15em;
  border-radius: 3px;
  box-shadow: 0 0 10px var(--highlight-colour-outline);
}

:root {
  --corner-radius: 0.5rem;
}

body {
  --checklist-done-decoration: none;
  --checklist-done-color: #bababaa0;
}

.workspace-ribbon {
  transition: all 250ms ease-in-out !important;
}
.workspace-ribbon.mod-left {
  background-color: transparent;
}
.workspace-ribbon.mod-left.is-collapsed {
  background-color: transparent;
}

.sidebar-toggle-button > .clickable-icon {
  color: var(--interactive-accent);
}
