.nav-file-title, .nav-folder-title {
	transition: background-color 75ms;
	border-radius: 100px;
	padding-top: 1px;
}

.nav-file-title {
	padding-left: 9px;
}


.workspace-leaf.mod-active .nav-folder.has-focus > .nav-folder-title, .workspace-leaf.mod-active .nav-file.has-focus {
	border-radius: 100px;
}

:not(.mod-root)>.nav-folder-children {
	border-left: 1px dashed var(--background-modifier-border);
	padding-left: 0;
	margin-left: 16px;
}