// Controls the side workspace's tab header.
// Design is based on M3 Navigation Bar https://m3.material.io/components/navigation-bar/overview

.workspace-tab-header-container {
	background-color: transparent;
	justify-content: left;
	margin: 0;
	height: var(--header-height);
	padding: 0;
}

.workspace-tab-container-after,
.workspace-tab-container-before {
	display: none;
}

.workspace-tab-container-inner {
	flex-grow: 1;
	/* gap: 0.5rem; */
	justify-content: center;
	background-color: var(--background-primary-alt);
}

.workspace-tab-container-inner>* {
	flex-grow: 1;
	align-self: center;
}

.workspace-tab-header-inner {
	background-color: transparent !important;
	justify-content: center !important;
}

.workspace-tab-header {
	background-color: transparent !important;
	border-radius: 0 !important;
	margin: 0;
	justify-content: center;
	display: flex;
}

.workspace-tab-header-inner-icon {
	display: flex;
	margin: 2px 0;
}

.workspace-tab-header>.workspace-tab-header-inner {
	max-width: var(--pill-size);
	border-radius: 100px !important;
	flex-grow: 1;
}

.workspace-tab-header:hover>.workspace-tab-header-inner {
	background-color: var(--background-primary) !important;
}

.workspace-tab-header.is-active>.workspace-tab-header-inner {
	background-color: var(--background-secondary) !important;
}

.workspace-tab-header.is-active:hover>.workspace-tab-header-inner {
	background-color: var(--background-secondary-alt) !important;
}