// Used in a few places, like when typing [[ and searching for a file, or
// When using the search box

// TODO might want to use more specific CSS to target them seperately?

.suggestion-container {
	background-color: var(--background-secondary-alt);
	min-width: 40em;
	border-radius: var(--big-border-radius);
	border: 1px solid var(--background-modifier-border);
	box-shadow: 0 0 15px var(--background-secondary-alt);
}
.suggestion-container>* {
	padding-bottom: 1rem;
	padding-top: 1rem;
}
.suggestion-container>.prompt-instructions {
	background-color: var(--background-secondary);
}