body {
	// Lucide icons https://lucide.dev/
	--lucide-x: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
	--lucide-minus: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
	--lucide-maximize: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8 3H5a2 2 0 0 0-2 2v3'%3E%3C/path%3E%3Cpath d='M21 8V5a2 2 0 0 0-2-2h-3'%3E%3C/path%3E%3Cpath d='M3 16v3a2 2 0 0 0 2 2h3'%3E%3C/path%3E%3Cpath d='M16 21h3a2 2 0 0 0 2-2v-3'%3E%3C/path%3E%3C/svg%3E");
}

:is(.mod-linux, .mod-windows) .titlebar-button:not(.mod-logo) svg {
	-webkit-mask-size: cover;
	background-color: var(--icon-color);
	color: transparent;
	width: var(--icon-s);
	height: var(--icon-s);
}

// New titlebar icons
:is(.mod-linux, .mod-windows) .titlebar-button:not(.mod-logo) {
	padding: 0 var(--size-4-3);
}

:is(.mod-linux, .mod-windows) .titlebar-button.mod-minimize svg {
	-webkit-mask-image: var(--lucide-minus);
}

:is(.mod-linux, .mod-windows) .titlebar-button.mod-maximize svg {
	-webkit-mask-image: var(--lucide-maximize);
}

:is(.mod-linux, .mod-windows) .titlebar-button.mod-close svg {
	-webkit-mask-image: var(--lucide-x);
}