// Encore's default theme
@import "../variables.scss";

body {
	// Cobalt
	&.theme-dark {
		// * Colors are from Tailwind's "Gray" colour palette
		--grey-900-rgb: 17, 24, 39;
		--grey-800-rgb: 31, 41, 55;
		--grey-700-rgb: 55, 65, 81;
		--grey-600-rgb: 75, 85, 99;
		--grey-500-rgb: 107, 114, 128;
		--grey-400-rgb: 156, 163, 175;
		--grey-300-rgb: 209, 213, 219;
		--grey-200-rgb: 228, 228, 231;
		--grey-100-rgb: 243, 244, 246;
		--grey-50-rgb: 255, 255, 255;
		
		// Theme neutrals
		// --en-opacity: 1;
		--color-base-00: rgb(var(--grey-900-rgb)); // Main background
		--color-base-10: rgb(var(--grey-900-rgb)); // Code blocks
		--color-base-20: rgb(var(--grey-800-rgb)); // Alt background
		--color-base-25: rgb(var(--grey-700-rgb)); // Text input
		--color-base-30: rgb(var(--grey-600-rgb)); // Lines and buttons
		--color-base-35: rgb(var(--grey-500-rgb)); // Switch background, hovered buttons
		--color-base-40: rgb(var(--grey-400-rgb)); // Modal & selection outline
		--color-base-50: rgb(var(--grey-300-rgb)); // Headings, bullets, checked items
		--color-base-60: rgb(var(--grey-300-rgb)); // ?
		--color-base-70: rgb(var(--grey-200-rgb)); // Dim text
		--color-base-100: rgb(var(--grey-100-rgb)); // Text
		
		// --color-base-00: red; // Main background
		
		// Default accent colour
		--accent-h: 93;
		--accent-s: 93%;
		--accent-l: 76%;
		
		--highlight-hue: 37;
			
		--workspace-background-translucent: rgba(var(--grey-900-rgb), 0.2);
			
		.cm-line.hr hr::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			--en-opacity: 1;
			background-color: $grey-800;
			border-radius: 100%;
			margin: 0 46%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='8' height='8' fill='none' stroke='%23ffffff90' stroke-width='3px' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M 30.91 17.52 L 34.43 35.7 M 61.44 14.41 L 62.61 0 M 34.43 35.7 L 37.57 90.47 M 81 26.39 L 61.44 14.41 L 34.43 35.7 L 65.35 100 M 62.61 0 L 30.91 17.52 L 18 45.45 L 37.57 90.47 L 65.35 100 L 70.44 89.8 L 81 26.39 L 62.61 0 Z'%3E%3C/path%3E%3C/svg%3E");
		}
	}
	
	// Sterling
	&.theme-light {
		--grey-50-rgb: 17, 24, 39;
		--grey-100-rgb: 31, 41, 55;
		--grey-200-rgb: 55, 65, 81;
		--grey-300-rgb: 75, 85, 99;
		--grey-400-rgb: 107, 114, 128;
		--grey-500-rgb: 156, 163, 175;
		--grey-600-rgb: 209, 213, 219;
		--grey-700-rgb: 228, 228, 231;
		--grey-800-rgb: 243, 244, 246;
		--grey-900-rgb: 255, 255, 255;
		
		--color-base-00: rgb(var(--grey-900-rgb)); // Main background
		--color-base-10: rgb(var(--grey-900-rgb)); // Code blocks
		--color-base-20: rgb(var(--grey-800-rgb)); // Alt background
		--color-base-25: rgb(var(--grey-700-rgb)); // Text input
		--color-base-30: rgb(var(--grey-600-rgb)); // Lines and buttons
		--color-base-35: rgb(var(--grey-500-rgb)); // Switch background, hovered buttons
		--color-base-40: rgb(var(--grey-400-rgb)); // Modal & selection outline
		--color-base-50: rgb(var(--grey-300-rgb)); // Headings, bullets, checked items
		--color-base-60: rgb(var(--grey-300-rgb)); // ?
		--color-base-70: rgb(var(--grey-200-rgb)); // Dim text
		--color-base-100: rgb(var(--grey-100-rgb)); // Text
			
		// Default accent colour
		--accent-h: 254;
		--accent-s: 40%;
		--accent-l: 40%;
		
		--highlight-hue: 37;
			
		--workspace-background-translucent: rgba(var(--grey-700-rgb), 0.7);
			
		.cm-line.hr hr::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			background-color: var(--background-primary);
			margin: 0 46%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='8' height='8' fill='none' stroke='%2300000090' stroke-width='3px' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M 30.91 17.52 L 34.43 35.7 M 61.44 14.41 L 62.61 0 M 34.43 35.7 L 37.57 90.47 M 81 26.39 L 61.44 14.41 L 34.43 35.7 L 65.35 100 M 62.61 0 L 30.91 17.52 L 18 45.45 L 37.57 90.47 L 65.35 100 L 70.44 89.8 L 81 26.39 L 62.61 0 Z'%3E%3C/path%3E%3C/svg%3E");
		}
	}
}

// Theme engine

body { // Theme Default
	--italic-color: var(--color-orange);
}
body.encore-italic-neutral {
	--italic-color: var(--text-color) !important;
}
body.encore-italic-accent {
	--italic-color: var(--color-accent-2) !important;
}
body.encore-italic-custom {
	--italic-color: var(--encore-custom-italic) !important;
}

body { // Theme Default
	--bold-color: var(--color-cyan);
	--bold-weight: 700;
}
body.encore-bold-neutral {
	--bold-color: var(--text-color) !important;
}
body.encore-bold-accent {
	--bold-color: var(--color-accent-2) !important;
}
body.encore-bold-custom {
	--bold-color: var(--encore-custom-bold) !important;
}

body { // Theme Default
	--inline-title-color: var(--color-accent-2);
}
body.encore-title-neutral {
	--inline-title-color: var(--text-color) !important;
}
body.encore-title-accent {
	--inline-title-color: var(--color-accent-2) !important;
}
body.encore-title-custom {
	--inline-title-color: var(--encore-custom-title) !important;
}

body.encore-h1-neutral {
	--h1-color: var(--text-color) !important;
}
body.encore-h1-accent {
	--h1-color: var(--color-accent-2) !important;
}
body.encore-h1-custom {
	--h1-color: var(--encore-custom-h1) !important;
}


body.encore-h2-neutral {
	--h2-color: var(--text-color) !important;
}
body.encore-h2-accent {
	--h2-color: var(--color-accent-2) !important;
}
body.encore-h2-custom {
	--h2-color: var(--encore-custom-h2) !important;
}


body.encore-h3-neutral {
	--h3-color: var(--text-color) !important;
}
body.encore-h3-accent {
	--h3-color: var(--color-accent-2) !important;
}
body.encore-h3-custom {
	--h3-color: var(--encore-custom-h3) !important;
}


body.encore-h4-neutral {
	--h4-color: var(--text-color) !important;
}
body.encore-h4-accent {
	--h4-color: var(--color-accent-2) !important;
}
body.encore-h4-custom {
	--h4-color: var(--encore-custom-h4) !important;
}


body.encore-h5-neutral {
	--h5-color: var(--text-color) !important;
}
body.encore-h5-accent {
	--h5-color: var(--color-accent-2) !important;
}
body.encore-h5-custom {
	--h5-color: var(--encore-custom-h5) !important;
}


body.encore-h6-neutral {
	--h6-color: var(--text-color) !important;
}
body.encore-h6-accent {
	--h6-color: var(--color-accent-2) !important;
}
body.encore-h6-custom {
	--h6-color: var(--encore-custom-h6) !important;
}