@import "../variables.scss";

body.encore-theme-dark-blackout {
  &.theme-dark {
    --grey-900-rgb: 0, 0, 0;
    --grey-800-rgb: 10, 10, 10;
    --grey-700-rgb: 25, 25, 25;
    --grey-600-rgb: 82, 82, 91;
    --grey-500-rgb: 113, 113, 122;
    --grey-400-rgb: 161, 161, 170;
    --grey-300-rgb: 212, 212, 216;
    --grey-200-rgb: 228, 228, 231;
    --grey-100-rgb: 244, 244, 245;
    --grey-50-rgb: 250, 250, 250;

    // Default accent colour
    --accent-h: 203;
    --accent-s: 66%;
    --accent-l: 54%;

    --workspace-background-translucent: rgba(var(--grey-800-rgb), 0.7);

    --bold-color: var(--color-cyan);
    --italic-color: var(--color-green);

    --h1-color: var(--color-red);
    --h2-color: var(--color-orange);
    --h3-color: var(--color-yellow);
    --h4-color: var(--color-red);
    --h5-color: var(--color-orange);
    --h6-color: var(--color-yellow);

    // Restore the colour selection of the original theme

    background-color: $grey-800;

    .mod-root .workspace-tab-container .workspace-leaf-content {
      --en-opacity: 1;
      background-color: $grey-900;

      // Canvas
      .canvas-wrapper {
        .canvas-background {
          background-color: $grey-900;
        }
      }
    }

    // MAKE.md fancy cover gradient
    .mk-note-header:after {
      --gradient-color: var(--color-base-10);
    }
  }
}

// Fancy headers need to be changed, due to .workspace-leaf-content being changed
body.encore-theme-dark-blackout.theme-dark:not(.encore-disable-fancy-headers)
  .workspace-tab-container
  .workspace-leaf-content
  > .view-header {
  --en-opacity: 0.66;
  background-color: $grey-900; // * Should be same as .workspace-leaf-content
  backdrop-filter: var(--en-acrylic);
}
