@import "../variables.scss";

body.encore-theme-dark-blackout {
  &.theme-dark {
    --grey-900-rgb: 0, 0, 0;
    --grey-800-rgb: 10, 10, 10;
    --grey-700-rgb: 25, 25, 25;
    --grey-600-rgb: 82, 82, 91;
    --grey-500-rgb: 113, 113, 122;
    --grey-400-rgb: 161, 161, 170;
    --grey-300-rgb: 212, 212, 216;
    --grey-200-rgb: 228, 228, 231;
    --grey-100-rgb: 244, 244, 245;
    --grey-50-rgb: 250, 250, 250;

    // Default accent colour
    --accent-h: 203;
    --accent-s: 66%;
    --accent-l: 54%;

    --workspace-background-translucent: rgba(var(--grey-800-rgb), 0.7);

    --bold-color: var(--color-cyan);
    --italic-color: var(--color-green);

    --h1-color: var(--color-red);
    --h2-color: var(--color-orange);
    --h3-color: var(--color-yellow);
    --h4-color: var(--color-red);
    --h5-color: var(--color-orange);
    --h6-color: var(--color-yellow);

    .cm-line.hr hr::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      --en-opacity: 1;
      background-color: $grey-900;
      border-radius: 100%;
      margin: 0 46%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='8' height='8' fill='none' stroke='%23ffffff80' stroke-width='4%' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M172.7 461.6c73.6-149.1 2.1-217-43.7-246.9m72 96.7c71.6-17.3 141-16.3 189.8 88.5m-114-96.3c-69.6-174 44.6-181 16.3-273.6m97.7 370c1.6-3 3.3-5.8 5.1-8.6 20-29.9 34.2-53.2 41.4-65.3a16 16 0 0 0-1.2-17.7 342.1 342.1 0 0 1-40.2-66.1c-10.9-26-12.5-66.5-12.6-86.2 0-7.4-2.4-14.7-7-20.6l-81.8-104a32 32 0 0 0-1.4-1.5m97.7 370a172.8 172.8 0 0 0-18 59c-2.9 21.5-24 38.4-45 32.6-30-8.3-64.5-21.1-95.7-23.5l-47.8-3.6c-7.7-.6-15-4-20.3-9.5l-82.3-84.8c-9-9.2-11.4-23-6.2-34.8 0 0 51-111.8 52.8-117.7l.7-3M293.1 30a31.5 31.5 0 0 0-44.4-2.3l-97.4 87.5c-5.4 5-9 11.5-10 18.8-3.7 24.5-9.7 68-12.3 80.7'%3E%3C/path%3E%3C/svg%3E");
    }

    // Restore the colour selection of the original theme

    background-color: $grey-800;

    .mod-root .workspace-tab-container .workspace-leaf-content {
      --en-opacity: 1;
      background-color: $grey-900;

      // Canvas
      .canvas-wrapper {
        .canvas-background {
          background-color: $grey-900;
        }
      }
    }

    // MAKE.md fancy cover gradient
    .mk-note-header:after {
      --gradient-color: var(--color-base-10);
    }
  }
}

// Fancy headers need to be changed, due to .workspace-leaf-content being changed
body.encore-theme-dark-blackout.theme-dark:not(.encore-disable-fancy-headers)
  .workspace-tab-container
  .workspace-leaf-content
  > .view-header {
  --en-opacity: 0.66;
  background-color: $grey-900; // * Should be same as .workspace-leaf-content
  backdrop-filter: var(--en-acrylic);
}
