@import "../variables.scss";

body.encore-theme-dark-carbon {
	&.theme-dark {
		--grey-50-rgb: 225, 227, 233;
		--grey-100-rgb: 222, 227, 241;
		--grey-200-rgb: 173, 181, 200;
		--grey-300-rgb: 162, 165, 186;
		--grey-350-rgb: 126, 128, 148;
		--grey-400-rgb: 97, 97, 115;
		--grey-500-rgb: 40, 40, 48;
		--grey-600-rgb: 26, 26, 32;
		--grey-700-rgb: 20, 20, 25;
		--grey-800-rgb: 11, 11, 12;
		--grey-850-rgb: 8, 8, 8;
		--grey-875-rgb: 6, 6, 6;		
		--grey-900-rgb: 3, 3, 3;

		// Default accent colour
		--accent-h: 203;
		--accent-s: 66%;
		--accent-l: 54%;
		
		--workspace-background-translucent: rgba(var(--grey-900-rgb), 0.4);
		
		--bold-color: var(--color-green);
		--italic-color: var(--color-red);
	}
}