body.encore-theme-dark-cobalt {
	&.theme-dark {
		--grey-50-rgb: 255, 255, 255;
		--grey-100-rgb: 235, 240, 246;
		--grey-200-rgb: 186, 192, 201;
		--grey-300-rgb: 163, 186, 178;
		--grey-350-rgb: 117, 122, 132;
		--grey-400-rgb: 108, 114, 125;
		--grey-500-rgb: 70, 76, 89;
		--grey-600-rgb: 48, 55, 66;
		--grey-700-rgb: 34, 43, 54;
		--grey-800-rgb: 23, 31, 43;
		--grey-850-rgb: 14, 18, 27;
		--grey-875-rgb: 9, 13, 21;		
		--grey-900-rgb: 11, 16, 28;
		
		// Default accent colour
		--accent-h: 93;
		--accent-s: 93%;
		--accent-l: 76%;
		
	}
	
	&.encore-colors-colorful {
		--highlight-hue: 50;
		--italic-color: #d2e6d2;
		--bold-color: #e0eec5;
		--h1-color: #b3bcf0;
		--h2-color: #989ed6;
		--h3-color: #8987c9;
		--h4-color: #9482c5;
		--h5-color: #9482c5;
		--h6-color: #9482c5;
	}
}