body.encore-theme-dark-materialocean {
	&.theme-dark {
		--grey-50-rgb: 245, 248, 254;
		--grey-100-rgb: 237, 241, 249;
		--grey-200-rgb: 227, 231, 240;
		--grey-300-rgb: 200, 207, 223;
		--grey-350-rgb: 183, 191, 209;
		--grey-400-rgb: 152, 165, 188;
		--grey-500-rgb: 87, 98, 126;
		--grey-600-rgb: 58, 65, 89;
		--grey-700-rgb: 32, 36, 51;
		--grey-800-rgb: 15, 17, 26;
		--grey-850-rgb: 8, 9, 19;
		--grey-875-rgb: 1, 3, 17;		
		--grey-900-rgb: 0, 1, 10;
		
		// Default accent colour
		--accent-h: 355;
		--accent-s: 100%;
		--accent-l: 63%;
		
		--color-red: #bf616a;
		--color-green: #a3be8c;
		--color-orange: #b48ead;
		--color-yellow: #ebcb8b;
		--color-cyan: #88c0d0;
		--color-blue: #81a1c1;
		
		&.encore-colors-colorful {
			--highlight-hue: 355;
			--italic-color: #d7dfec;
			--bold-color: #d9dee9;
			--h1-color: var(--color-red);
			--h2-color: var(--color-green);
			--h3-color: var(--color-blue);
			--h4-color: var(--color-cyan);
			--h5-color: var(--color-yellow);
			--h6-color: var(--color-orange);
		}
	}
}