@import "../variables.scss";

body.encore-theme-dark-mercury {
	&.theme-dark {
		// * Colors are from Tailwind's "Zinc" colour palette
		--grey-50-rgb: 255, 255, 255;
		--grey-100-rgb: 244, 244, 247;
		--grey-200-rgb: 199, 199, 204;
		--grey-300-rgb: 174, 175, 183;
		--grey-350-rgb: 129, 130, 144;
		--grey-400-rgb: 116, 116, 127;
		--grey-500-rgb: 73, 73, 80;
		--grey-600-rgb: 42, 42, 46;
		--grey-700-rgb: 33, 33, 36;
		--grey-800-rgb: 29, 29, 32;
		--grey-850-rgb: 23, 23, 26;
		--grey-875-rgb: 18, 18, 21;
		--grey-900-rgb: 12, 12, 15;
		
		--accent-h: 21;
		--accent-s: 92%;
		--accent-l: 69%;
		
		&.encore-colors-colorful {
			--highlight-hue: 50;
			--italic-color: #d2e6d2;
			--bold-color: #e0eec5;
			--h1-color: #61aafd;
			--h2-color: #5ce4ab;
			--h3-color: #50f3d8;
			--h4-color: #9adfff;
			--h5-color: #9482c5;
			--h6-color: #9482c5;
		}
	}
}