@import "../variables.scss";

body.encore-theme-dark-mercury {
	&.theme-dark {
		// * Colors are from Tailwind's "Zinc" colour palette
		--grey-900-rgb: 24, 24, 27;
		--grey-800-rgb: 39, 39, 42;
		--grey-700-rgb: 63, 63, 70;
		--grey-600-rgb: 82, 82, 91;
		--grey-500-rgb: 113, 113, 122;
		--grey-400-rgb: 161, 161, 170;
		--grey-300-rgb: 212, 212, 216;
		--grey-200-rgb: 228, 228, 231;
		--grey-100-rgb: 244, 244, 245;
		--grey-50-rgb: 250, 250, 250;
		
		--accent-h: 21;
		--accent-s: 92%;
		--accent-l: 69%;
		
		--color-red: #e06c75;
		--color-green: #98c379;
		--color-orange: #F99A66;
		--color-yellow: #f7f2c5;
		--color-cyan: #abe9f1;
		--color-blue: #adc9ff;
		
		--bold-color: var(--color-red);
		--italic-color: var(--color-green);
		--highlight-hue: 32;
		--h1-color: var(--color-blue);
		--h2-color: var(--color-cyan);
		--h3-color: var(--color-yellow);
		--h4-color: var(--color-blue);
		--h5-color: var(--color-cyan);
		--h6-color: var(--color-yellow);
	}
}