@import "../variables.scss";

body.encore-theme-dark-rgb {
	&.theme-dark {
		--grey-50-rgb: 225, 227, 233;
		--grey-100-rgb: 222, 227, 241;
		--grey-200-rgb: 173, 181, 200;
		--grey-300-rgb: 162, 165, 186;
		--grey-350-rgb: 126, 128, 148;
		--grey-400-rgb: 97, 97, 115;
		--grey-500-rgb: 40, 40, 48;
		--grey-600-rgb: 26, 26, 32;
		--grey-700-rgb: 20, 20, 25;
		--grey-800-rgb: 11, 11, 12;
		--grey-850-rgb: 8, 8, 8;
		--grey-875-rgb: 6, 6, 6;		
		--grey-900-rgb: 3, 3, 3;
		
		--workspace-background-translucent: rgba(var(--grey-900-rgb), 0.4);

		&.encore-colors-colorful {
			--bold-color: var(--color-red);
			--italic-color: var(--color-green);
		}
		
		
		// RGB effect around workspaces
		.mod-root .workspace-tab-container {
			border-radius: var(--tab-radius);
			--shadow-properties: 0 0 50px -25px;
			animation: rgb-shadow 12s linear infinite forwards;
		}
		
		// RGB around modals
		.modal {
			--shadow-properties: 0 0 50px -15px;
			animation: rgb-shadow 12s linear infinite forwards;
		}
		
		--rainbow-gradient: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,222,0,1) 15%, rgba(167,255,0,1) 26%, rgba(0,255,136,1) 39%, rgba(15,245,254,1) 55%, rgba(111,0,255,1) 80%, rgba(253,45,45,1) 100%);
	
		// RGB band at top of prompts
		.prompt::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 30px;
			background-color: red;
			background-image: var(--rainbow-gradient);
			animation: pan-right 5s linear infinite forwards;
			filter: blur(60px);
		}
		.prompt::after {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 10px;
			background-color: red;
			background-image: var(--rainbow-gradient);
			animation: pan-right 5s linear infinite forwards;
			filter: blur(15px);
		}
		
		// Tab improvements for RGB
		.mod-root .workspace-tab-header.is-active .workspace-tab-header-inner {
			--en-opacity: 0.2;
			background-color: rgba(var(--grey-100-rgb), var(--en-opacity));
		}
	}
}


@keyframes rgb-shadow {
	0% {
		box-shadow: var(--shadow-properties) rgb(255, 0, 0);
	}
	17% {
		box-shadow: var(--shadow-properties) rgb(255, 255, 0);
	}
	33% {
		box-shadow: var(--shadow-properties) rgb(0, 255, 0);
	}
	50% {
		box-shadow: var(--shadow-properties) rgb(0, 255, 255);
	}
	67% {
		box-shadow: var(--shadow-properties) rgb(80, 160, 255);
	}
	83% {
		box-shadow: var(--shadow-properties) rgb(255, 0, 255);
	}
	100% {
		box-shadow: var(--shadow-properties) rgb(255, 0, 0);
	}
}

@keyframes rgb-background {
	0% {
		background-color: rgba(255, 255, 0, var(--rgb-background-opacity));
	}
	17% {
		background-color: rgba(0, 255, 0, var(--rgb-background-opacity));
	}
	33% {
		background-color: rgba(0, 170, 255, var(--rgb-background-opacity));
	}
	67% {
		background-color: rgba(255, 0, 255, var(--rgb-background-opacity));
	}
	83% {
		background-color: rgba(255, 0, 255, var(--rgb-background-opacity));
	}
	100% {
		background-color: rgba(255, 0, 0, var(--rgb-background-opacity));
	}
}

@keyframes pan-right {
	from {
		background-position-x: 0vw;
	}
	to {
		background-position-x: 100vw;
	}
}