body.encore-theme-dark-slate {
	&.theme-dark {
		--grey-50-rgb: 255, 255, 255;
		--grey-100-rgb: 241, 243, 244;
		--grey-200-rgb: 228, 228, 231;
		--grey-300-rgb: 209, 213, 219;
		--grey-350-rgb: 177, 179, 192;
		--grey-400-rgb: 156, 163, 175;
		--grey-500-rgb: 107, 114, 128;
		--grey-600-rgb: 75, 85, 99;
		--grey-700-rgb: 55, 65, 81;
		--grey-800-rgb: 31, 41, 55;
		--grey-850-rgb: 23, 29, 44;
		--grey-875-rgb: 20, 26, 38;
		--grey-900-rgb: 17, 24, 39;
		
		// Default accent colour
		--accent-h: 93;
		--accent-s: 93%;
		--accent-l: 76%;
		
		// --bold-color: var(--color-green);
		// --italic-color: var(--color-red);
	}
}