body.encore-theme-light-sterling {
	&.theme-light {
		--grey-50-rgb: 17, 24, 39;
		--grey-100-rgb: 31, 41, 55;
		--grey-200-rgb: 55, 65, 81;
		--grey-300-rgb: 75, 85, 99;
		--grey-350-rgb: 90, 90, 90;
		--grey-400-rgb: 107, 114, 128;
		--grey-500-rgb: 156, 163, 175;
		--grey-600-rgb: 209, 213, 219;
		--grey-700-rgb: 228, 228, 231;
		--grey-800-rgb: 243, 244, 246;
		--grey-850-rgb: 250, 250, 250;
		--grey-875-rgb: 250, 250, 250;
		--grey-900-rgb: 255, 255, 255;
		
		--accent-h: 165;
		--accent-s: 74%;
		--accent-l: 52%;
		
		--color-red: #df2a51;
		--color-green: #2adfb2;
		--color-orange: #ff9b7c;
		--color-yellow: #abe667;
		--color-cyan: #2abbdf;
		--color-blue: #5c87ff;
	}
	
		
	&.encore-colors-colorful {
		--highlight-hue: 30;
		--italic-color: #82c0e9;
		--bold-color: #d86679;
		
		--h1-color: #ffc444;
		--h2-color: #faa250;
		--h3-color: #f88765;
		--h4-color: #f88773;
		--h5-color: #f88773;
		--h6-color: #f88773;
	}
}