.kanban-plugin {
	.kanban-plugin__lane {
		border: none;
		overflow: hidden;
		background-color: var(--background-secondary);
		
		.kanban-plugin__lane-header-wrapper {
			border: none;
			background-color: var(--background-secondary-alt);
		}
		
		// New card button when prepended
		.kanban-plugin__item-button-wrapper:nth-child(2) {
			border: none;
			background-color: var(--background-secondary-alt);
			
			button.kanban-plugin__new-item-button:not(:hover) {
				background-color: var(--background-secondary);
			}
		}
		
		.kanban-plugin__item {
			border: none;
			
			&:not(:hover) .kanban-plugin__item-postfix-button {
				display: none;
			}
		}
		
		.kanban-plugin__item-content-wrapper {
			background-color: var(--background-primary);
		}
		
		>:last-child {
			border: none;
			
			&.kanban-plugin__item-button-wrapper {
				padding-top: 0;
			}
		}
		
		.kanban-plugin__grow-wrap>textarea, .kanban-plugin__grow-wrap:after {
			background-color: transparent !important;
		}
		
		button.kanban-plugin__new-item-button:not(:hover) {
			background-color: var(--background-secondary-alt);
			box-shadow: unset;
		}
	}
}