@import "../variables.scss";

.mod-root.encore-fancy-headers .workspace-tab-container .workspace-leaf-content .projects-container {
	padding-top: var(--header-height);
	
	.container {
		background-color: transparent;
		border-bottom: 1px solid $grey-700;
	}
}