body:not(.encore-no-calendar) #calendar-container {
	--calendar-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3Cpath d='M8 14h.01'%3E%3C/path%3E%3Cpath d='M12 14h.01'%3E%3C/path%3E%3Cpath d='M16 14h.01'%3E%3C/path%3E%3Cpath d='M8 18h.01'%3E%3C/path%3E%3Cpath d='M12 18h.01'%3E%3C/path%3E%3Cpath d='M16 18h.01'%3E%3C/path%3E%3C/svg%3E");
	
	--arrow-left: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='15 18 9 12 15 6'%3E%3C/polyline%3E%3C/svg%3E");
	
	padding: unset;
	
	@mixin replace-icon($icon, $size: unset) {
		-webkit-mask-image: $icon;
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: $size;
	}
	
	.reset-button {
		@include replace-icon(var(--calendar-icon), 18px);
		background-color: var(--text-muted);
		color: transparent;
		width: 24px;
	}
	
	.arrow {
		@include replace-icon(var(--arrow-left), 18px);
	}
	
	table {
		border-radius: 8px;
		overflow: hidden;
		table-layout: fixed;
		// border-collapse: separate;
		border-width: 0;
	}
	
	thead {
		height: 32px;
		background-color: var(--background-primary);
	}
	
	tr {
		height: 32px;
	}
	
	td {
		height: 32px;
		padding: unset;
		>* {
			border-radius: 0;
		}
		&:hover>.day {
			background-color: var(--background-modifier-active-hover) !important;
		}
	}
	
	td.svelte-egt0yd {
		border-right: unset;
		background-color: var(--background-primary);
	}
	.day {
		background-color: var(--background-primary);
	}
	.day.has-note {
		background-color: var(--background-secondary-alt);
	}
	.day.today {
		color: var(--color-accent) !important;
	}
	.day.active {
		background-color: var(--background-modifier-active-hover);
		color: var(--text-normal);
	}
}