// Glass Royale theme

body.encore-translucency {
  &.encore-bg-image {
    .app-container {
      background-image: var(--encore-translucency-image);
      background-size: cover;
    }

    // Blur the background
    .app-container::before {
      position: fixed;
      inset: 0;
      content: "";
      background: transparent;
      backdrop-filter: blur(
        calc(1px * pow(var(--encore-translucency-blur-amount, 10), 2))
      );
    }
  }

  &.encore-bg-frosty {
    background-image: linear-gradient(rgb(12, 136, 126), rgb(78, 4, 250));

    .app-container {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 3240' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3C/defs%3E%3Cellipse style='filter: blur(200px); fill: rgb(38, 214, 255);' cx='465.54' cy='549.634' rx='559.232' ry='230.137'%3E%3C/ellipse%3E%3Cellipse style='filter: blur(200px); fill: rgb(59, 55, 212);' cx='1461.894' cy='749.77' rx='559.232' ry='338.301'%3E%3C/ellipse%3E%3Cellipse style='filter: blur(200px); fill: rgb(123, 130, 208);' cx='398.22' cy='1237.125' rx='559.232' ry='338.301'%3E%3C/ellipse%3E%3Cellipse style='filter: blur(200px); fill: rgb(17, 197, 255);' cx='1546.62' cy='1737.081' rx='603.713' ry='357.778'%3E%3C/ellipse%3E%3Cellipse style='filter: blur(200px); fill: rgb(185, 185, 185);' cx='981.906' cy='1520.478' rx='371.639' ry='230.137'%3E%3C/ellipse%3E%3Cellipse style='filter: blur(200px); fill: rgb(35, 30, 204);' cx='549.068' cy='2325.941' rx='721.684' ry='405.989'%3E%3C/ellipse%3E%3Cellipse style='filter: blur(200px); fill: rgb(148, 19, 172);' cx='1338.121' cy='2790.09' rx='721.684' ry='405.989'%3E%3C/ellipse%3E%3Cellipse style='filter: blur(200px); fill: rgb(148, 19, 172);' cx='1297.975' cy='-434.34' rx='721.684' ry='405.989'%3E%3C/ellipse%3E%3C/svg%3E");
      background-size: cover;
      background-repeat: mirror;
      animation: scroll-up infinite 120s linear;
    }
  }

  &.encore-bg-chromatic {
    background-image: repeating-linear-gradient(
      45deg,
      rgba(15, 245, 254, 1),
      rgba(111, 0, 255, 1),
      rgba(255, 0, 0, 1),
      rgba(255, 222, 0, 1),
      rgba(167, 255, 0, 1),
      rgba(0, 255, 136, 1),
      rgba(15, 245, 254, 1),
      rgba(111, 0, 255, 1),
      rgba(253, 0, 0, 1),
      rgba(255, 222, 0, 1),
      rgba(167, 255, 0, 1),
      rgba(0, 255, 136, 1),
      rgba(15, 245, 254, 1),
      rgba(111, 0, 255, 1)
    );
    background-size: 100% 800vh;
    animation: scroll-up-down infinite 180s ease-in-out alternate-reverse;

    &::before {
      position: fixed;
      inset: 0;
      content: "";
      background-image: radial-gradient(transparent, #000000f0);
    }
  }

  &.encore-bg-prismatic {
    background-image: repeating-linear-gradient(
      45deg,
      rgb(0, 4, 255),
      rgb(107, 15, 254),
      rgb(153, 0, 255),
      rgb(255, 0, 242),
      rgb(255, 0, 170),
      rgb(255, 0, 242),
      rgb(153, 0, 255),
      rgb(107, 15, 254),
      rgb(0, 4, 255),
      rgb(107, 15, 254),
      rgb(153, 0, 255),
      rgb(255, 0, 242)
    );
    background-size: 100% 400vh;
    animation: scroll-up infinite 30s linear;

    &::before {
      position: fixed;
      inset: 0;
      content: "";
      background-image: radial-gradient(transparent, #000000f0);
    }
  }

  &.encore-bg-dawn {
    background-image: radial-gradient(transparent, #0102247a),
      linear-gradient(to bottom, rgba(222, 244, 255, 0.11), transparent),
      linear-gradient(to bottom left, #0036e6, #400dcc);

    &::before {
      position: fixed;
      inset: 0;
      content: "";
      animation: fade-in 60s linear infinite alternate;
      background-image: radial-gradient(transparent, #01022493),
        linear-gradient(to bottom, #def4ff28, transparent),
        linear-gradient(to bottom left, #ee8d4d, #0012b6b4);
    }
  }

  &.encore-bg-lava {
    background-image: radial-gradient(transparent, #360700),
      linear-gradient(to top, #d86800, transparent),
      linear-gradient(to bottom left, #b43900, #1a0101);

    &::before {
      position: fixed;
      inset: 0;
      content: "";
      animation: fade-in 60s linear infinite alternate;
      background-image: radial-gradient(transparent, #360700),
        linear-gradient(to top, #f5e498, transparent),
        linear-gradient(to bottom left, #ff0000, #ff0000);
    }
  }

  &.encore-bg-emerald {
    background-image: radial-gradient(transparent, #071400),
      linear-gradient(to top, #54f1d7, transparent),
      linear-gradient(to bottom left, #55df00, #1b4900);
  }

  &.encore-bg-sapphire {
    background-image: radial-gradient(transparent, #000018),
      linear-gradient(to top, #5871ff, transparent),
      linear-gradient(to bottom left, #0400ff, #0084ff);
  }

  // Apply a tint
  .horizontal-main-container {
    background-color: rgba(
      var(--grey-900-rgb),
      calc(1 - var(--encore-translucency-strength))
    );
  }
}

@keyframes scroll-up {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 calc(100% - 100vh);
  }
}

@keyframes scroll-up-down {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
