
body:not(.encore-no-excalidraw) {
	@mixin replace-icon($icon, $size: unset) {
		-webkit-mask-image: $icon;
		-webkit-mask-position: center;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: $size;
	}
	
	.excalidraw-wrapper {
		background-color: transparent;
	}
	
	.excalidraw {
		border-radius: 8px;
		background-color: transparent;
		
		--help-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' data-darkreader-inline-stroke='' style='--darkreader-inline-stroke:currentColor;'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpath d='M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3'%3E%3C/path%3E%3Cline x1='12' y1='17' x2='12.01' y2='17'%3E%3C/line%3E%3C/svg%3E");
		
		--grip-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' data-darkreader-inline-stroke='' style='--darkreader-inline-stroke:currentColor;'%3E%3Ccircle cx='12' cy='9' r='1'%3E%3C/circle%3E%3Ccircle cx='19' cy='9' r='1'%3E%3C/circle%3E%3Ccircle cx='5' cy='9' r='1'%3E%3C/circle%3E%3Ccircle cx='12' cy='15' r='1'%3E%3C/circle%3E%3Ccircle cx='19' cy='15' r='1'%3E%3C/circle%3E%3Ccircle cx='5' cy='15' r='1'%3E%3C/circle%3E%3C/svg%3E");
	}
	
	// General changes to theme
	.excalidraw,
	.excalidraw.theme--dark {
		--color-primary: var(--color-accent);
		--color-primary-darker: var(--color-accent-1);
		--color-primary-darkest: var(--color-accent-2);
		
		--border-radius-md: 4px;
		--border-radius-lg: 8px;

		--input-shadow: none;
		--input-shadow-hover: none;
		
		.color-picker-label-swatch {
			border: 1px solid var(--color-base-100);
		}
		
		.color-picker-hash {
			width: 1rem;
		}
		
		// Target the gripper on a movable island
		.Island>div:first-child>svg {
			@include replace-icon(var(--grip-icon));
			background-color: var(--button-gray-1);
		}
		
		.ToolIcon__icon {
			// background-color: var(--button-gray-1);
		}
	}
	
	// Override theme colours when excalidraw colour matches obsidian colour theme
	&.theme-light .excalidraw:not(.theme--dark) {
		--button-gray-1: var(--color-base-30); // Normal state
		--button-gray-2: var(--color-base-40); // Hovered
		--button-gray-3: var(--color-base-30); // Pressed
		--dialog-border-color: var(--color-base-40);
		--island-bg-color: var(--color-base-00);
		--input-border-color: var(--color-base-30);
		--input-bg-color: var(--color-base-20);
		
	}
	&.theme-dark .excalidraw.theme--dark {
		--button-gray-1: var(--color-base-30); // Normal state
		--button-gray-2: var(--color-base-40); // Hovered
		--button-gray-3: var(--color-base-30); // Pressed
		--dialog-border-color: var(--color-base-40);
		--island-bg-color: var(--color-base-00);
		--input-border-color: var(--color-base-30);
		--input-bg-color: var(--color-base-20);
		
	}
	
	
	
	
	// Move the help button to the left side, because word counter is in the way
	.excalidraw .layer-ui__wrapper .layer-ui__wrapper__footer-right {
		transform: translateY(-32px);
		.help-icon {
			display: none;
		}
	}
	
	.excalidraw .layer-ui__wrapper .layer-ui__wrapper__footer-left {
		margin-bottom: 0.3rem;
	}
	
	
	// Replace help icon with lucide one
	.help-icon {
		@include replace-icon(var(--help-icon), 18px);
		background-color: var(--button-gray-1);
		height: 30px;
		
		&:hover {
			background-color: var(--button-gray-2);
		}
		
		>* {
			display: none;
		}
	}
	
	// View action icons
	.workspace-leaf-content[data-type="excalidraw"] .clickable-icon.view-action {
		&[aria-label="Press ESC to exit fullscreen mode"]>svg,
		&[aria-label="Open selected text as link\A(SHIFT+CLICK to open in a new pane)"]>svg,
		&[aria-label="Save (will also update transclusions)"]>svg,
		&[aria-label="Install or update Excalidraw Scripts"]>svg {
			@include replace-icon(unset, 16px);
			background-color: var(--color-base-70);
			border-radius: 0;
		}
		
		// Fullscreen
		&[aria-label="Press ESC to exit fullscreen mode"]>svg {
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' data-darkreader-inline-stroke='' style='--darkreader-inline-stroke:currentColor;'%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cpolyline points='9 21 3 21 3 15'%3E%3C/polyline%3E%3Cline x1='21' y1='3' x2='14' y2='10'%3E%3C/line%3E%3Cline x1='3' y1='21' x2='10' y2='14'%3E%3C/line%3E%3C/svg%3E");
		}
		
		// Open text as link
		&[aria-label="Open selected text as link\A(SHIFT+CLICK to open in a new pane)"]>svg {
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' data-darkreader-inline-stroke='' style='--darkreader-inline-stroke:currentColor;'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
		}
		
		// Save button
		&[aria-label="Save (will also update transclusions)"]>svg {
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' data-darkreader-inline-stroke='' style='--darkreader-inline-stroke:currentColor;'%3E%3Cpath d='M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z'%3E%3C/path%3E%3Cpolyline points='17 21 17 13 7 13 7 21'%3E%3C/polyline%3E%3Cpolyline points='7 3 7 8 15 8'%3E%3C/polyline%3E%3C/svg%3E");
		}
		// Scripts button
		&[aria-label="Install or update Excalidraw Scripts"]>svg {
			-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' data-darkreader-inline-stroke='' style='--darkreader-inline-stroke:currentColor;'%3E%3Cpath d='M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v4'%3E%3C/path%3E%3Cpolyline points='14 2 14 8 20 8'%3E%3C/polyline%3E%3Cpath d='m9 18 3-3-3-3'%3E%3C/path%3E%3Cpath d='m5 12-3 3 3 3'%3E%3C/path%3E%3C/svg%3E");
		}
	}
	
	
	.workspace-leaf-content .excalidraw-view {
		padding: unset;
		padding-right: 4px;
		padding-bottom: 4px;
	}
}


