.markdown-rendered mark,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight,
.search-result-file-matched-text {
	background-color: hsla(var(--highlight-hue), 100%, 50%, 0.2);
	outline: 1px solid hsla(var(--highlight-hue), 90%, 50%, 0.85);
	padding: 0 0.15em;
	border-radius: 3px;
	box-shadow: 0 0 10px hsla(var(--highlight-hue), 90%, 50%, 0.75);
}