.markdown-source-view .markdown-embed,
.markdown-embed {
	--border-color: var(--background-modifier-border);
	border: 1px solid var(--border-color);
	background-color: var(--background-secondary);
	margin-bottom: 0.75rem;
	border-radius: var(--corner-radius);
	padding: 0;
}

.markdown-embed {
	// background-color: transparent;
	margin-bottom: 0;
	overflow: hidden;
}

.markdown-embed-title {
	font-weight: normal;
	text-align: left;
	padding-left: 1rem;
	padding-right: 3rem;
	font-size: 1.2em;
	padding-bottom: 0;
	line-height: 2em;
	margin-bottom: 0.5em;
	border-bottom: 1px dashed var(--border-color);
	white-space: break-spaces;
}

.markdown-embed-link {
	color: var(--text-muted);
}

.markdown-embed-link:hover {
	color: var(--text-normal);
}

.markdown-embed-content.markdown-embed-page {
	padding: 0 1rem;
}

