// Used to style markdown views

// Normal text
body {
	--line-height-normal: 1.65;
	--link-decoration: none;
	--link-color: var(--color-accent-2);
	--link-unresolved-opacity: 1.0;
	--link-unresolved-filter: contrast(0.3) brightness(120%);
}
.markdown-source-view.mod-cm6 .cm-line {
	padding-bottom: 0.75em;
}

// Lists
body {
	--list-spacing: 0.5em;
	--list-marker-color: var(--color-base-40);
}
.markdown-source-view.mod-cm6 .cm-line.HyperMD-list-line {
	padding-bottom: 0;
}
.markdown-source-view.mod-cm6 .HyperMD-list-line + .cm-line:not(.HyperMD-list-line) {
	padding-top: 1.2em; // Spacing of text after list
}
.markdown-rendered {
	--list-spacing: 0.1em;
}

// Quotes
.markdown-source-view.mod-cm6 .cm-line.HyperMD-quote {
	padding-bottom: 0.2em;
	background-color: var(--color-base-10);
}
.HyperMD-quote-lazy {
	// Fixes a bug in obsidian where text right after a quote looks bad
	padding-left: 1.2em !important;
}
.markdown-rendered blockquote {
	background-color: var(--color-base-10);
}

// Embedded notes
.internal-embed:not(.image-embed) {
	background-color: var(--color-base-10);
	border-radius: 8px;
	border-left: none;
	border: 1px solid var(--color-base-25);
	border-top-color: var(--color-base-30);
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	padding: 0.5rem 1em 0;
}
.embed-title {
	color: var(--inline-title-color);
}
.markdown-rendered .internal-embed:not(.image-embed) {
	margin-top: 1.5em;
}

// Header 1
body {
	--h1-size: 2.25rem;
	--h1-line-height: 1.111;
	--h1-weight: 800;
}
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header.HyperMD-header-1 {
	padding-top: 0.8em;
	padding-bottom: 0.5em;
}



// Header 2
body {
	--h2-size: 1.5rem;
	--h2-line-height: 1.333;
	--h2-weight: 700;
}
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header.HyperMD-header-2 {
	padding-top: 0.8em;
	padding-bottom: 0.5em;
}

// Header 3
body {
	--h3-size: 1.25rem;
	--h3-line-height: 1.6;
	--h3-weight: 600;
}
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header.HyperMD-header-3 {
	padding-top: 0.8em;
	padding-bottom: 0.5em;
}

// MARGIN COLLAPSING!!1!
// (but for padding)
// Removes padding above headers when previous element is also a header
// Or if header is at the very top of document
.markdown-source-view.mod-cm6 .HyperMD-header + .cm-line.HyperMD-header, .HyperMD-header:first-child {
	padding-top: 0 !important;
}


// Header 4
body {
	--h4-size: 1rem;
	--h4-line-height: 1.5;
	--h4-weight: 600;
}
.markdown-source-view.mod-cm6 .cm-line.HyperMD-header.HyperMD-header-4 {
	padding-top: 0.8em;
	padding-bottom: 0.5em;
}

// Code block
.markdown-source-view .cm-sizer {
	.HyperMD-codeblock-begin-bg {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	
	.HyperMD-codeblock-end-bg {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}
}

// Horizontal rule
.markdown-rendered hr,
.cm-line.hr hr {
	height: 1px;
	background-image: linear-gradient(to right, transparent, var(--hr-color) 46.2%, transparent 46.2%, transparent 54%, var(--hr-color) 54%, transparent);
	border: none;
	position: relative;
	overflow: visible;
}
.markdown-rendered hr::after,
.cm-line.hr hr::after {
	content: "";
	position: absolute;
	top: -12px;
	left: 0;
	right: 0;
	height: 24px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: var(--obsidian-logo-small);
}
.markdown-rendered hr {
	margin: 5em 0;
}