// Used to style markdown views
// Used to style markdown views
// Used to style markdown views

// Normal text
body {
  --line-height-normal: 1.65;
  --link-decoration: none;
  --link-color: var(--color-accent-2);
  --link-unresolved-opacity: 1;
  --link-unresolved-filter: contrast(0.3) brightness(120%);
}

// Lists
body {
  --list-marker-color: var(--color-base-40);
}
.markdown-rendered {
  --list-spacing: 0.1em;
}

// Quotes
.markdown-source-view.mod-cm6 .cm-line.HyperMD-quote {
  padding-bottom: 0.2em;
  background-color: var(--color-base-10);
}
.HyperMD-quote-lazy {
  // Fixes a bug in obsidian where text right after a quote looks bad
  padding-left: 1.2em !important;
}
.markdown-rendered blockquote {
  background-color: var(--color-base-10);
}

// Embedded notes
.internal-embed:not(.image-embed) {
  background-color: var(--color-base-10);
  border-radius: 8px;
  border-left: none;
  border: 1px solid var(--color-base-25);
  border-top-color: var(--color-base-30);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1em 0;
}
.embed-title {
  color: var(--inline-title-color);
}

// Header 1
body {
  --h1-size: 2.25rem;
  --h1-line-height: 1.111;
  --h1-weight: 800;
}

// Header 2
body {
  --h2-size: 1.5rem;
  --h2-line-height: 1.333;
  --h2-weight: 700;
}

// Header 3
body {
  --h3-size: 1.25rem;
  --h3-line-height: 1.6;
  --h3-weight: 600;
}

// Header 4
body {
  --h4-size: 1rem;
  --h4-line-height: 1.5;
  --h4-weight: 600;
}

// Header 5
body {
  --h5-size: 0.95rem;
  --h5-line-height: 1.6;
  --h5-weight: 600;
}

// Header 6
body {
  --h6-size: 0.85rem;
  --h6-line-height: 1.7;
  --h6-weight: 600;
}

// Code block
.markdown-source-view .cm-sizer {
  .HyperMD-codeblock-begin-bg {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .HyperMD-codeblock-end-bg {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

// Horizontal rule
body:not(.encore-disable-logo-on-hr) {
  .markdown-rendered hr,
  .cm-line.hr hr {
    height: 1px;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--hr-color) 46.2%,
      transparent 46.2%,
      transparent 54%,
      var(--hr-color) 54%,
      transparent
    );
    border: none;
    position: relative;
    overflow: visible;
  }
  .markdown-source-view:not(.is-live-preview) .HyperMD-hr::after,
  .markdown-rendered hr::after,
  .cm-line.hr hr::after {
    content: "";
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--obsidian-logo-small);
  }
  // Horizontal rule live preview tweak
  .markdown-source-view:not(.is-live-preview) .HyperMD-hr {
    position: relative;
  }
  .markdown-source-view:not(.is-live-preview) .HyperMD-hr::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 13px;
    height: 1px;
    background-image: linear-gradient(
      to right,
      transparent 10%,
      var(--hr-color) 46.2%,
      transparent 46.2%,
      transparent 54%,
      var(--hr-color) 54%,
      transparent
    );
  }
  .markdown-source-view:not(.is-live-preview) .HyperMD-hr::after {
    top: 2px;
  }
}

// Simple HR style
body.encore-disable-logo-on-hr {
  .markdown-rendered hr,
  .cm-line.hr hr {
    height: 1px;
    background-image: linear-gradient(
      to right,
      transparent,
      var(--hr-color) 30%,
      var(--hr-color) 70%,
      transparent
    );
    border: none;
  }
}

// Images
.internal-embed.image-embed img {
  border-radius: 4px;
}
