.markdown-source-view .markdown-embed,
.markdown-embed {
	--border-color: var(--background-modifier-border);
	border: none;
	background-color: var(--background-secondary);
	margin-bottom: 0.75rem;
	border-radius: var(--corner-radius);
	padding: 0;
	overflow: hidden;
}

.markdown-embed-title {
	font-weight: var(--inline-title-weight);
	font-size: 1.75em;
	font-style: var(--inline-title-style);
	font-variant: var(--inline-title-variant);
	font-family: var(--inline-title-font);
	letter-spacing: -0.015em;
	padding: 0.25em 1rem;
	color: var(--color-accent);
	background-color: var(--background-secondary-alt);
	white-space: break-spaces;
}

.markdown-embed-link {
	color: var(--text-muted);
}

.markdown-embed-link:hover {
	color: var(--text-normal);
}

.markdown-embed-content.markdown-embed-page {
	padding: 1rem;
	padding-bottom: 0;
	max-height: 50vh;
	overflow: auto;
}

