.prompt-input-container {
	background-color: var(--background-secondary-alt);
}

input.prompt-input {
	background-color: transparent;
	font-size: larger;
}

.suggestion-item.is-selected {
	color: var(--color-accent);
}