.mod-root {
	.workspace-split.mod-horizontal>div:not(:first-of-type) {
		// padding-top: 4px;
		background-color: var(--background-primary);
	}
	

	// For vertically split workspaces
	.workspace-tabs:not(.mod-top) .workspace-tab-header-container {
		background-color: var(--background-secondary-alt);
	}
}

.is-translucent:not(.is-fullscreen) {
	.mod-root {
		.workspace-split.mod-horizontal>div:not(:first-of-type) {
			border-top: 1px solid var(--divider-color);
			background-color: var(--divider-color) !important;

		}
		
	

		// For vertically split workspaces
		.workspace-tabs:not(.mod-top) .workspace-tab-header-container {
			background-color: var(--divider-color);
			--divider-color: transparent
		}
	}
}

.workspace-leaf-resize-handle {
	background-color: transparent;
	border: none !important;
	overflow: visible;
}

.workspace-leaf-resize-handle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent !important;
	min-width: 8px;
	min-height: 8px;
}

.workspace-leaf-resize-handle::after {
	content: "";
	position: absolute;
	border-radius: 3px;
	width: 50%;
	height: 50%;
	transition: background-color 150ms ease-out;
}

.workspace-leaf-resize-handle:hover::after {
	background-color: var(--interactive-accent) !important;
}
