.workspace-leaf-resize-handle {
	background-color: transparent;
	border: none !important;
	overflow: visible;
}

.workspace-leaf-resize-handle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent !important;
	min-width: 8px;
	min-height: 8px;
}

.workspace-leaf-resize-handle::after {
	content: "";
	position: absolute;
	border-radius: 3px;
	width: 50%;
	height: 50%;
	transition: background-color 150ms ease-out;
}

.workspace-leaf-resize-handle:hover::after {
	background-color: var(--interactive-accent) !important;
}

.workspace-split.mod-vertical.mod-root .workspace-leaf-resize-handle {
	right: -6px;
}

.workspace-split.mod-vertical>.workspace-leaf-resize-handle,
.mod-root .workspace-split.mod-horizontal :not(.mod-vertical) .workspace-leaf-resize-handle {
	bottom: -6px;
}

.workspace-tabs {
	overflow: visible;
}