body {
	// Encore (based on Obsidian, but with more colours)
	&.theme-dark {
		// Theme neutrals
		--color-base-00: #1e1e1e; // Main background
		--color-base-20: #262626; // Alt background
		--color-base-25: #2a2a2a; // Text input
		--color-base-30: #363636; // Lines and buttons
		--color-base-35: #3F3F3F; // Switch background, hovered buttons
		--color-base-40: #555; // Modal & selection outline
		--color-base-50: #666; // Headings, bullets, checked items
		--color-base-70: #bababa; // Dim text
		--color-base-100: #dadada; // Text
		
		// Default accent colour
		--accent-h: 254;
		--accent-s: 96%;
		--accent-l: 82%;
		
		--bold-color: hsl(36, 96%, 82%);
		--italic-color: hsl(189, 96%, 82%);
		--highlight-hue: 37;
		--h1-color: hsl(calc(var(--accent-h) + 00), 25%, 80%);
		--h2-color: hsl(calc(var(--accent-h) + 20), 35%, 85%);
		--h3-color: hsl(calc(var(--accent-h) + 40), 40%, 88%);
		--h4-color: hsl(calc(var(--accent-h) + 60), 50%, 90%);
		--h5-color: hsl(calc(var(--accent-h) + 80), 80%, 93%);
		--h6-color: hsl(calc(var(--accent-h) + 99), 95%, 95%);
		
		.cm-line.hr hr::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			background-color: var(--background-primary);
			margin: 0 46%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='8' height='8' fill='none' stroke='%23ffffff90' stroke-width='3px' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M 30.91 17.52 L 34.43 35.7 M 61.44 14.41 L 62.61 0 M 34.43 35.7 L 37.57 90.47 M 81 26.39 L 61.44 14.41 L 34.43 35.7 L 65.35 100 M 62.61 0 L 30.91 17.52 L 18 45.45 L 37.57 90.47 L 65.35 100 L 70.44 89.8 L 81 26.39 L 62.61 0 Z'%3E%3C/path%3E%3C/svg%3E");
		}
	}
	
	&.theme-light {
		--color-base-00: #ffffff; // Main background
		--color-base-05: #e6e6e6; // Window title & embedded note title
		--color-base-10: #fafafa; // Hovered buttons
		--color-base-20: #f4f4f4; // Alt background
		--color-base-30: #e6e6e6; // Lines
		--color-base-35: #b3b3b3; // Switch background
		--color-base-40: #bdbdbd; // Modal & selection outline
		--color-base-50: #ababab; // Headings, bullets, checked items
		--color-base-70: #414141; // Dim text
		--color-base-100: #111111; // Text
		
		// Default accent colour
		--accent-h: 254;
		--accent-s: 40%;
		--accent-l: 40%;
		
		--bold-color: hsl(347, 80%, 40%);
		--italic-color: hsl(207, 80%, 40%);
		--highlight-hue: 37;
		--h1-color: hsl(calc(var(--accent-h) + 00), 25%, 40%);
		--h2-color: hsl(calc(var(--accent-h) + 20), 35%, 30%);
		--h3-color: hsl(calc(var(--accent-h) + 40), 40%, 25%);
		--h4-color: hsl(calc(var(--accent-h) + 60), 45%, 20%);
		--h5-color: hsl(calc(var(--accent-h) + 80), 75%, 15%);
		--h6-color: hsl(calc(var(--accent-h) + 99), 90%, 10%);
		
		.cm-line.hr hr::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			background-color: var(--background-primary);
			margin: 0 46%;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='8' height='8' fill='none' stroke='%2300000090' stroke-width='3px' stroke-linecap='round' stroke-linejoin='round' class='logo-wireframe'%3E%3Cpath d='M 30.91 17.52 L 34.43 35.7 M 61.44 14.41 L 62.61 0 M 34.43 35.7 L 37.57 90.47 M 81 26.39 L 61.44 14.41 L 34.43 35.7 L 65.35 100 M 62.61 0 L 30.91 17.52 L 18 45.45 L 37.57 90.47 L 65.35 100 L 70.44 89.8 L 81 26.39 L 62.61 0 Z'%3E%3C/path%3E%3C/svg%3E");
		}
	}
	
	
	// ==================================================================================
	// THEME: Monochrome (Encore with reduced colours)
	
	&.encore-theme-monochrome {
		&.theme-dark {
			--bold-color: inherit;
			--bold-weight: var(--font-bold);
			--italic-color: inherit;

			--h1-color: inherit;
			--h2-color: inherit;
			--h3-color: inherit;
			--h4-color: inherit;
			--h5-color: inherit;
			--h6-color: inherit;
		}
		&.theme-light {
			--bold-color: inherit;
			--bold-weight: var(--font-bold);
			--italic-color: inherit;

			--h1-color: inherit;
			--h2-color: inherit;
			--h3-color: inherit;
			--h4-color: inherit;
			--h5-color: inherit;
			--h6-color: inherit;
		}
	}
	
	
	// ==================================================================================
	// THEME: Atom (One Dark)
	
	
	&.encore-theme-atom {
		&.theme-dark{
			--color-base-00: #272b34; // Main background
			--color-base-20: #20242b; // Alt background
			--color-base-25: #272b34; // Text input
			--color-base-30: #3d4453; // Lines and buttons
			--color-base-35: #4f586b; // Checkbox background, hovered buttons
			--color-base-40: #4f586b; // Modal & selection outline
			--color-base-50: #4f586b; // Headings, bullets, checked items
			--color-base-70: #abb2bf; // Dim text
			--color-base-100: #ced2da; // Text
			
			--color-red: #e06c75;
			--color-green-rgb: 224, 108, 117;
			--color-green: #98c379;
			--color-orange: #d19a66;
			--color-yellow: #e5c07b;
			--color-cyan: #56b6c2;
			--color-blue: hsl(207, 82%, 66%);
			
			--accent-h: 207;
			--accent-s: 82%;
			--accent-l: 66%;
			
			--highlight-hue: 39;
			--bold-color: var(--color-blue);
			--italic-color: var(--color-green);
			--h1-color: var(--color-orange);
			--h2-color: var(--color-green);
			--h3-color: var(--color-cyan);
			--h4-color: var(--color-blue);
			--h5-color: var(--color-red);
			--h6-color: var(--color-yellow);
		}
		
		&.theme-light {
			--color-base-00: #fafafa; // Main background
			--color-base-05: #ced2da; // Window title & embedded note title
			--color-base-20: #eaebee; // Alt background
			--color-base-30: #ced2da; // Lines and buttons
			--color-base-35: #4f586b; // Checkbox background, hovered buttons
			--color-base-40: #4f586b; // Modal & selection outline
			--color-base-50: #272b34; // Headings, bullets, checked items
			--color-base-70: #20242b; // Dim text
			--color-base-100: #272b34; // Text
			
			--color-red: #b95059;
			--color-green-rgb: 224, 108, 117;
			--color-green: #759c59;
			--color-orange: #c78a51;
			--color-yellow: #d3a95c;
			--color-cyan: #42abb9;
			--color-blue: #469de4;
			
			--accent-h: 207;
			--accent-s: 82%;
			--accent-l: 56%;
			
			--highlight-hue: 39;
			--bold-color: var(--color-blue);
			--italic-color: var(--color-green);
			--h1-color: var(--color-orange);
			--h2-color: var(--color-green);
			--h3-color: var(--color-cyan);
			--h4-color: var(--color-blue);
			--h5-color: var(--color-red);
			--h6-color: var(--color-yellow);
		}
	}
	
	// ==================================================================================
	// THEME: (Debug)
	
	&.encore-theme-debug {
		&.theme-dark{
			--color-base-10: #ff0000; // Not used
			--color-base-60: #ff0000; // Not used
		}
		
		&.theme-light {
			--color-base-25: #fc0505; // Not used
			--color-base-60: #fd0202; // Not used
		}
	}
}



