
.is-translucent:not(.is-fullscreen) .workspace-ribbon.mod-left, .is-translucent:not(.is-fullscreen) .workspace-tabs, .is-translucent:not(.is-fullscreen) .workspace-split.mod-root, .is-translucent:not(.is-fullscreen) .sidebar-toggle-button, .is-translucent:not(.is-fullscreen) .mod-left-split .workspace-tab-header-container, .is-translucent:not(.is-fullscreen) .mod-right-split .workspace-tab-header-container, .is-translucent:not(.is-fullscreen) .mod-top .workspace-tab-header-container, .is-translucent:not(.is-fullscreen) .workspace-tabs .workspace-leaf, .is-translucent:not(.is-fullscreen) .workspace-ribbon.mod-left:before {
	// background-color: greenyellow !important;
}

// Translucent mode fixes
.is-translucent:not(.is-fullscreen) {
	--divider-color: transparent;
	
	// Try to fix the tiny issue with tab inner rounded corners
	.view-header-title-container:not(.mod-at-end):after,
	.workspace-split.mod-root .workspace-tab-header.is-active::before, .workspace-split.mod-root .workspace-tab-header.is-active::after {
		display: none;
	}	
	
	.titlebar {
		background-color: transparent !important;
	}	
	
	.mod-root .workspace-tabs {
		// background-color: var(--background-primary) !important;
	}
	
	.mod-right-split,
	.mod-left-split,
	.sidebar-toggle-button {
		background-color: transparent;
	}
	
	.mod-left-split :not(.mod-top) .workspace-tab-header-container,
	.mod-right-split :not(.mod-top) .workspace-tab-header-container {
		// Colour of splitters on the sidebar
		background-color: var(--background-secondary-alt) !important;
	}
	
	.workspace-tabs .workspace-leaf {
		// Allows the main colour of the sidebar to be visible
		background-color: transparent !important;
	}
	
	.workspace-tab-container {
		border-radius: 8px;
	}
	
	// Main page background
	.workspace-split.mod-root .view-content {
		background-color: var(--workspace-background-translucent);
	}
	
	.view-header {
		background-color: var(--workspace-background-translucent) !important;
	}
	
	.workspace-tab-header.is-active {
		background-color: var(--workspace-background-translucent) !important;
	}
}	

.is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right {
	// Makes the minimise, maximise, close buttons transparent
	background-color: transparent !important;
}

// Make graph view look better, especially with a translucent background
.graph-view.color-line {
	// color: #bdbdbd25;
}	
