$grey-900: rgba(var(--grey-900-rgb), var(--en-opacity));
$grey-800: rgba(var(--grey-800-rgb), var(--en-opacity));
$grey-700: rgba(var(--grey-700-rgb), var(--en-opacity));
$grey-600: rgba(var(--grey-600-rgb), var(--en-opacity));
$grey-500: rgba(var(--grey-500-rgb), var(--en-opacity));
$grey-400: rgba(var(--grey-400-rgb), var(--en-opacity));
$grey-300: rgba(var(--grey-300-rgb), var(--en-opacity));
$grey-200: rgba(var(--grey-200-rgb), var(--en-opacity));
$grey-100: rgba(var(--grey-100-rgb), var(--en-opacity));
$grey-50: rgba(var(--grey-50-rgb), var(--en-opacity));